<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Библиотека исполнителей</h1>
                <div class="h-1 w-20 bg-indigo-500 rounded"></div>
            </div>
            <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Whatever cardigan tote bag tumblr hexagon brooklyn
                asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man
                bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
        </div>



        <div class="relative mr-4 w-full text-left">
            <label for="hero-field" class="leading-7 text-sm text-gray-600">Поиск</label>
            <input type="text" id="hero-field" name="hero-field" placeholder="Введите имя исполнителя..." [(ngModel)]="search"
                class="w-full bg-gray-100 bg-opacity-50 rounded focus:ring-2 focus:ring-indigo-200 focus:bg-transparent border border-gray-300 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <p class="text-sm mt-2 text-gray-500 mb-8 w-full">Чето</p>



        <div class="flex flex-wrap -m-4 justify-center">


            <div *ngFor="let artist of artists | searchArtists: search;" class="xl:w-1/4 md:w-1/2 p-4 max-w-md">
                <div class="bg-gray-100 p-6 rounded-lg">
                    <a routerLink="/albums" [queryParams]="{artist: artist.name }">
                        <img class="h-80 rounded w-full object-cover object-center mb-6"
                            [src]="getImgSrc(artist.image)" alt="content">
                    </a>
                    <h3 class="tracking-widest text-xs font-medium title-font"> {{ artist.genre }} </h3>
                    <h2 class="text-lg text-gray-900 font-medium title-font mb-4"> {{ artist.name }} </h2>
                    <p class="leading-relaxed text-base truncate"> {{ artist.description }} </p>
                    <a routerLink="/albums" [queryParams]="{artist: artist.name  }" class="text-indigo-500 font-medium title-font inline-flex items-center">К релизам
                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path d="M5 12h14"></path>
                            <path d="M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
          

        </div>
    </div>
</section>