<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-col">

        <div class="flex flex-wrap w-full mb-10">
            <div class="lg:w-1/2 w-full lg:mb-0">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Избранное</h1>
                <div class="h-1 w-20 bg-indigo-500 rounded"></div>
            </div>
            <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Whatever cardigan tote bag tumblr hexagon brooklyn
                asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man
                bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
        </div>


        <div class="relative mr-4 w-full text-left">
            <label for="hero-field" class="leading-7 text-sm text-gray-600">Поиск</label>
            <input type="text" id="hero-field" name="hero-field"
                placeholder="Введите название трека/альбома или имя исполнителя..." [(ngModel)]="search"
                class="w-full bg-gray-100 bg-opacity-50 rounded focus:ring-2 focus:ring-indigo-200 focus:bg-transparent border border-gray-300 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <p class="text-sm mt-2 text-gray-500 mb-2 w-full">Чето</p>


        <app-track [tracks]="tracks " [search]="search"></app-track>

    </div>
</section>