
<div class="flex flex-col">
    <button *ngFor="let track of tracks | searchTracks: search; let i = index" 
        class="bg-gray-100 py-3 px-5 rounded-lg items-center hover:bg-gray-200 focus:outline-none border-2 mb-2 "
        [ngClass]="{'border-indigo-500': selectedTrack === track._id}">
        <div class="flex ">
            <button (click)="togglePlay(track._id, i)">
                <svg *ngIf="selectedTrack != track._id || (selectedTrack == track._id && !isPlayed)"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black"
                    class="w-6 h-6 fill-gray-900 my-auto">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
                </svg>
    
                <svg *ngIf="selectedTrack == track._id && isPlayed" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke-width="5.5" stroke="black" class="w-6 h-6 fill-gray-900 my-auto">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
                </svg>
            </button>
    
            <!-- <span>{{i}}</span> -->
            <span class="ml-4 flex items-start flex-col leading-none">
                <span *ngIf="track.album; else fromAlbumPage;" class="text-sm text-gray-600 mb-1 font-normal">
                    {{ getArtistsNames(track.album.artists)}}
                    <span class="text-xs font-thin "> [{{track.album.title}}] </span>
                </span>
                <ng-template #fromAlbumPage>
                    <span class="text-sm text-gray-600 mb-1 font-normal">
                        {{ getArtistsNames(album.artists)}}
                        <span class="text-xs font-thin "> [{{album.title}}] </span>
                    </span>
                </ng-template>

                <span class="title-font font-medium"> {{ track.name }} </span>
            </span>
            <div class="ml-auto inline-flex items-center justify-center">
                <span>2:15</span>
            </div>
            <button (click)="addToFavorites(userId, track._id)"
                class="rounded-full w-10 h-10  p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4 hover:bg-white ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black"
                    class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
    
            </button>
        </div>
    </button>
        
    

</div>


<app-audio-player *ngIf="isPlayed || selectedTrack"
[tracks]="tracks" [album]="album" [trackIndex]="selectedIndex" [isPlayed]="isPlayed" [selectedTrack]="selectedTrack"
(onPauseOrPlay)="togglePlayer()"
(onTrackChange)="changeTrackFromPlayer($event)"
(onIndexChange)="changeIndexFromPlayer($event)"
(onStop)="close()"
></app-audio-player>



