  input[type='range'] {
      overflow: hidden;
  }

  input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
  }

  input[type='range']::-webkit-slider-thumb {
      width: 30px;
      /* height: 10px; */
      -webkit-appearance: none;
      cursor: pointer;
      background: #434343;
      box-shadow: -800px 0 0 800px #6366f1;
  }